@use '/src/styles/variables.scss' as *;
@use '/src/styles/mixins.scss' as *;

.main-div {
    padding: 20px;
    height: 100%;

    @include media(mobile, tablet) {
        height: 75vh;
    }
}

.heading-div {
    display: flex;
    justify-content: space-between;
    margin: 20px;

    h3 {
        margin: auto 0;
        padding-right: 20px;
    }

    @include media(mobile, tablet) {
        margin: 20px 0px;
    }
}

.task-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    height: 60vh;
    overflow-y: auto;

    @include media(mobile) {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}